<!DOCTYPE html>
<html>
	<head>
		<title>{% page_title %}</title>
		<link rel="icon" type="image/png" href="public/resources/favicon/{% page_favicon %}" />
		<link rel="stylesheet" type="text/css" href="public/styles/{% page_style %}" />
	</head>
	<body>
		<aside>
			<nav>
				<ul>
					<li><a href="/browse">browse</a></li>
					{% if: !auth_check() %}
						<li>
							<ul>
								<li><a href="/login">login</a></li>
								<li><a href="/register">register</a></li>
							</ul>
						</li>
					{% else %}
						<li><a href="/account">{% username %}</a></li>
						<li><a href="/do_logout">logout</a></li>
					{% endif %}
				</ul>
			</nav>
			<section class="video-controls">
				<button class="playpause"></button>
			</section>
		</aside>
		<section class="content">
			<section class="yielded_content">
				{% yield %}
			</section>
		</section>

		<script src="public/scripts/{% page_script %}"></script>
    </body>
</html>