* {
    margin: 0;
}

body {
    background: #202021;
    font-family: Monospace;
    color: #A0A0A0;
}

aside {
    float: left;
    background: #565658;
    width: 10%;
    height: 100vh;
}

aside nav ul {
    padding: 0px;
    float: left;
    width: 100%;
}

aside nav ul li {
    list-style: none;
}

aside nav ul li a {
    float: left;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    text-align: center;
    background: #38383a;
    color: white;
}

aside nav ul li a:hover {
    background: #4d4d50;
}

aside nav ul li ul li {
    width: 50%;
    float: left;
}

aside section.video-controls button {
    outline: none;
    border-style: none;
    float: left;
    width: 50px;
    height: 50px;
    background: #97979c;
}

section.content {
    float: left;
    width: 90%;
}

section.content video {
    float: left;
    width: 100%;
    height: 100vh;
    /* display: none; */
}

section.content .yielded_content {
    float: left;
}