<!DOCTYPE html>
<html>
	<head>
		<title>{{page_title}}</title>
		<link rel="icon" type="image/png" href="favicon/{{page_favicon}}" />
		<link rel="stylesheet" type="text/css" href="styles/{{page_style}}" />
	</head>
	<body>
		<aside>
			<ul>
				<li><a href="/browse">browse</a></li>
				<li><a href="/register">register</a></li>
				<li><a href="/login">login</a></li>
				<li><a href="/account">account</a></li>
			</ul>
		</aside>
		<section>
			<button class='button'>Test</button>
	
			{{{yield}}}
	
		</section>

		<script src="scripts/{{page_script}}"></script>
    </body>
</html>